<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Css/estilo.css">
  <title>OnlinEnglish</title>
  <title>Productos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <header id="header">
    <div class="logo-container">
      <img src="img/onlineNglish (1).png" alt="Logotipo de OnlineEnglish" class="logo">
  </div>
  <div class="header-content">
      <h1 class="header-title">OnlinEnglish</h1>
      <h3 class="header-subtitle">Animate a abrir nuevas puertas</h3>
  </div>
  <div class="header-buttons">
      <a href="login.html" class="login-button">Iniciar Sesión</a>
      <a href="registro.html" class="registro-button">Registrarse</a>
  </div>
  </header>
  <main>
    <div id="app" class="container">
      <h1>Productos</h1>
      <br>
      <a class="btn btn-primary" href="producto_nuevo.html">Nuevo</a>
      <br><br>

      <div v-if="error">
        <p>Lo sentimos, ........</p>
      </div>
      <div v-else>
        <section v-if="cargando">
          <div class="spinner-border"></div>
          <p>Cargando .....</p>
        </section>
        <section v-else>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" v-for="producto in productos">
                  <td scope="row">{{producto.id}}</td>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.precio}}</td>
                  <td>{{producto.stock}}</td>
                  <td>
                    <img width="60" :src="producto.imagen" :alt="producto.nombre">
                  </td>
                  <td>
                    <a class="btn btn-primary" :href="'producto_update.html?id='+ producto.id" >Editar</a>
                    <button type="button" class="btn btn-danger" v-on:click="eliminar(producto.id)" >Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  
  <footer class="flex">
    <h4 class="footer-title">Seguinos en nuestras redes</h4>
    <div class="social-icons">
        <div class="social-icon">
            <img src="img/instagram.png" alt="Logo de Instagram">
            <h5>Instagram</h5>
        </div>
        <div class="social-icon">
            <img src="img/facebook.png" alt="Logo de Facebook">
            <h5>Facebook</h5>
        </div>
        <div class="social-icon">
            <img src="img/linkedin.png" alt="Logo de LinkedIn">
            <h5>LinkedIn</h5>
        </div>
    </div>

    <h6 class="footer-info">OnlinEnglish 2023 Derechos Reservados</h6>
</footer>
</body>
</html>
